:root {
    --rtd-bg-color: #111111;
}

body {
    margin: 0;
}

header,
footer {
    background-color: var(--rtd-bg-color);
}

footer {
    color: white;
    text-align: center;
    padding: 0.2em 0;
    font-size: 1.125em;
    font-family: 'Commissioner', cursive;
}

a {
    text-decoration: none;
    color: rgb(150,220,150);
}

a:hover {
    color: rgb(50, 175, 50);
}

article {
    margin-bottom: 1vh;
    padding: 0 1vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 2px 2px 5px black;
    min-width: 15vw;
    max-width: 25vw;
    margin-bottom: 2vh;
    margin-right: 2vw;
    padding: 1vh 1.5vw;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#logo {
    height: 20vh;
}

#logo svg {
    height: 22.5vh;
}

#socials {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#socials li a svg {
    fill: white;
    height: 2em;
}

#socials li a span {
    margin-left: 0.35em;
    color: white;
    font-size: 2.5em;
    font-family: 'Staatliches', cursive;
}
