:root {
  --rtd-bg-color: #111111;
}

header,
nav,
footer {
  background-color: var(--rtd-bg-color);
}

a {
  text-decoration: none;
  color: rgb(150, 220, 150);
}

a:hover {
  color: rgb(50, 175, 50);
}

header svg {
  height: 22.5vh;
}

nav ul li a svg {
  fill: white;
  height: 2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
