---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Read The Docs FR | Fermeture du bin (temporaire)">
  <div class="container text-center">
    <h1 style="color: #c00">rtdbin ferme ses portes (temporairement)</h1>
    <p style="font-size: 1.2em">
      Après pratiquement cinq années de service,
      <strong>rtdbin</strong> prend sa retraite temporairement.
    </p>
    <p>
      Ce service a été maintenu en ligne avec générosité et passion depuis sa
      création par <strong>DrLazor</strong>.
    </p>
    <img
      src="https://avatars.githubusercontent.com/u/8208953"
      width="100"
      height="100"
      style="border-radius: 50%; margin: 1em 0"
      alt="DrLazor"
    />
    <p>
      Merci à toutes et à tous pour votre confiance et votre fidélité au fil des
      années.
    </p>
    <p>
      Merci à <strong>DrLazor</strong> et aux contributeurs d’avoir permis à ce projet
      d'exister.
    </p>
    <p style="font-style: italic">Le service devrait être hébergé de nouveau d’ici fin septembre, désormais par AntoineJT.</p>
    <p style="font-style: italic">
      Le code source reste disponible
      <a href="https://github.com/readthedocs-fr/bin-server">ici</a>.
    </p>
    <hr style="margin: 2em 0" />
    <p style="color: #888">L'équipe Read the Docs FR</p>
  </div>
</Layout>

<style>
  .container {
    box-shadow: 0 2px 16px #0001;
    max-width: 600px;
    margin: 60px auto;
    padding: 2em 2.5em;
    background: #fff;
    border-radius: 10px;
  }
</style>
