---
import type { JSX } from "astro/jsx-runtime";

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<article class="card">
  <h2>{title}</h2>
  {subtitle && <h3>{subtitle}</h3>}
  <p><slot name="description" /></p>
  <slot />
</article>

<style>
  article {
    margin-bottom: 1vh;
    box-shadow: 1px 1px 6px green;
    min-width: 15vw;
    max-width: 35vw;
    margin: 1em;
    padding: 1vh 1.5vw;
  }

  h3 {
    font-style: italic;
    font-weight: 100;
    font-size: 0.9em;
  }
</style>
