<footer>
  <p>
    Le <a href="https://github.com/readthedocs-fr/readthedocs-fr.github.io"
      >code source</a
    > de ce site est disponible sur GitHub.
  </p>
</footer>

<style>
  footer {
    color: white;
    text-align: center;
    padding: 0.2em 0;
    font-size: 1.125em;
    font-family: "Commissioner", cursive;
  }
</style>
