---
import ReadTheDocsFRLogo from "@/components/logos/ReadTheDocsFRLogo.astro";
import DiscordLogo from "@/components/logos/DiscordLogo.astro";
import GitHubLogo from "@/components/logos/GitHubLogo.astro";
import YouTubeLogo from "@/components/logos/YouTubeLogo.astro";
import TwitchLogo from "@/components/logos/TwitchLogo.astro";
---

<header>
  <div id="logo">
    <ReadTheDocsFRLogo />
  </div>
  <nav>
    <ul class="center" id="socials">
      <li>
        <a href="http://discord.readthedocs.fr/">
          <DiscordLogo />
          <span class="discord">Discord</span>
        </a>
      </li>
      <li>
        <a href="http://github.readthedocs.fr/">
          <GitHubLogo />
          <span class="github">GitHub</span>
        </a>
      </li>
      <li>
        <a href="http://youtube.readthedocs.fr/">
          <YouTubeLogo />
          <span class="youtube">YouTube</span>
        </a>
      </li>
      <li>
        <a href="http://twitch.readthedocs.fr/">
          <TwitchLogo />
          <span class="twitch">Twitch</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
