---
import DiscordLogo from "@/components/logos/DiscordLogo.astro";
import GitHubLogo from "@/components/logos/GitHubLogo.astro";
import YouTubeLogo from "@/components/logos/YouTubeLogo.astro";
import TwitchLogo from "@/components/logos/TwitchLogo.astro";
---

<nav>
  <ul id="socials">
    <li>
      <a href="http://discord.readthedocs.fr/">
        <DiscordLogo />
        <span class="discord">Discord</span>
      </a>
    </li>
    <li>
      <a href="http://github.readthedocs.fr/">
        <GitHubLogo />
        <span class="github">GitHub</span>
      </a>
    </li>
    <li>
      <a href="http://youtube.readthedocs.fr/">
        <YouTubeLogo />
        <span class="youtube">YouTube</span>
      </a>
    </li>
    <li>
      <a href="http://twitch.readthedocs.fr/">
        <TwitchLogo />
        <span class="twitch">Twitch</span>
      </a>
    </li>
  </ul>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    padding-top: 0.25em;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }

  span {
    margin-left: 0.35em;
    color: white;
    font-size: 2.5em;
    font-family: "Staatliches", cursive;
  }

  .discord:hover {
    color: #8ea1e1;
  }

  .github:hover {
    color: #2c974b;
  }

  .youtube:hover {
    color: #f00;
  }

  .twitch:hover {
    color: #af7afe;
  }
</style>
