---
import Card from "./Card.astro";

const { title, date, description, videoId } = Astro.props;
---

<Card>
  <h2>{title}</h2>
  <h3>{date}</h3>
  <p>{description}</p>
  <iframe
    class="center"
    src=`https://www.youtube-nocookie.com/embed/${videoId}`
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
</Card>
