---
import ReadTheDocsFRLogo from "@/components/logos/ReadTheDocsFRLogo.astro";
import DiscordLogo from "@/components/logos/DiscordLogo.astro";
import GitHubLogo from "@/components/logos/GitHubLogo.astro";
import YouTubeLogo from "@/components/logos/YouTubeLogo.astro";
import TwitchLogo from "@/components/logos/TwitchLogo.astro";
import "@/styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

// TODO servir les fonts localement
---

<!doctype html>
<html lang="fr">
  <head>
    <title>{title}</title>

    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="RTD FR | Read The Docs FR" />
    <meta
      property="og:description"
      content="Rejoignez une communauté francophone de développeurs axée sur l'entraide et le travail collaboratif autour de projets open source"
    />
    <meta property="og:site_name" content="Read The Docs FR" />
    <meta property="og:type" content="website" />
    <meta
      name="description"
      content="Rejoignez une communauté francophone de développeurs axée sur l'entraide et le travail collaboratif autour de projets open source"
    />

    <meta name="author" content="Antoine JT" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass&family=Commissioner&family=Staatliches&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div id="logo">
        <ReadTheDocsFRLogo />
      </div>
    </header>
    <nav>
      <ul class="center" id="socials">
        <li>
          <a href="http://discord.readthedocs.fr/">
            <DiscordLogo />
            <span class="discord">Discord</span>
          </a>
        </li>
        <li>
          <a href="http://github.readthedocs.fr/">
            <GitHubLogo />
            <span class="github">GitHub</span>
          </a>
        </li>
        <li>
          <a href="http://youtube.readthedocs.fr/">
            <YouTubeLogo />
            <span class="youtube">YouTube</span>
          </a>
        </li>
        <li>
          <a href="http://twitch.readthedocs.fr/">
            <TwitchLogo />
            <span class="twitch">Twitch</span>
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <p>
        Le
        <a href="https://github.com/readthedocs-fr/readthedocs-fr.github.io"
          >code source</a
        >
        de ce site est disponible sur GitHub.
      </p>
    </footer>
  </body>
</html>
